@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;
    --sectionSpace: 2rem 0 2rem 0;


    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c 20%;
    --lighterGrey: #c1c1c1;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
    background-image: url(/assets/img/Baggrundsbillede_1920.webp);
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;
}

main {
    padding: var(--space);
    color: var(--black);

    h1 {
        font-size: var(--desktopOverskriftSize);
    }

    h2,
    h3,
    h4,
    h5 {
        font-size: var(--desktopUnderoverskriftSize);
    }

    p {
        font-size: var(--textSize);
        font: var(--tekstFont);
    }

}

.event1 {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--lighterGrey);

    p {
        padding: 1rem;
    }

    h2 {
        padding: 1rem;
    }

    img {
        grid-column: 2/2;
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
    }
}

.event2 {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--lighterGrey);

    p {
        padding: 1rem;
    }

    h3 {
        padding: 1rem;
    }

    img {
        grid-column: 2/2;
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
    }
}

.event3 {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--lighterGrey);

    p {
        padding: 1rem;
    }

    h4 {
        padding: 1rem;
    }

    img {
        grid-column: 2/2;
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
    }
}

.event4 {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--lighterGrey);

    p {
        padding: 1rem;
    }

    h5 {
        padding: 1rem;
    }

    img {
        grid-column: 2/2;
        width: 100%;
        height: 100%;
        object-fit: fill;
        display: block;
    }
}





/* MEDIA QUARIES 1300 PX */
@media (max-width: 1050px) {
    main {
        padding: 2rem 10rem 2rem 10rem;

        .event1 {
            gap: 2rem;
            display: grid;
            grid-template-columns: 1fr;
            background-color: var(--lighterGrey);

            img {
                grid-column: 1/1;
                width: 100%;
                height: 100%;
                object-fit: fill;
                display: block;
            }
        }

        .event2 {
            gap: 2rem;
            display: grid;
            grid-template-columns: 1fr;
            background-color: var(--lighterGrey);

            img {
                grid-column: 1/1;
                width: 100%;
                height: 100%;
                object-fit: fill;
                display: block;
            }
        }

        .event3 {
            gap: 2rem;
            display: grid;
            grid-template-columns: 1fr;
            background-color: var(--lighterGrey);

            img {
                grid-column: 1/1;
                width: 100%;
                height: 100%;
                object-fit: fill;
                display: block;
            }
        }

        .event4 {
            gap: 2rem;
            display: grid;
            grid-template-columns: 1fr;
            background-color: var(--lighterGrey);

            img {
                grid-column: 1/1;
                width: 100%;
                height: 100%;
                object-fit: fill;
                display: block;
            }
        }

    }
}

main {
    padding: var(--space);
    color: var(--black);

    h1 {
        font-size: var(--desktopOverskriftSize);
    }

    p {
        font-size: var(--textSize);
        font: var(--tekstFont);
    }

    hr {
        border: none;
        height: 3px;
        width: 400px;
        background-color: var(--red);
        margin: 30px 0;
    }

}

.event {
    gap: 2rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--ligtherGrey);

    img {
        grid-column: 2/2;
        width: 100%;
        height: 800px;
        object-fit: fill;
        display: block;
    }
}

/* MEDIA QUARIES 700 PX */
@media (max-width: 700px) {

    main {
        padding: 2rem 6rem 2rem 6rem;
    }
}

/* MEDIA QUARIES 500 PX */
@media (max-width: 500px) {
    :root {
        --mobileSpace: 2rem;
    }

    main {
        padding: var(--mobileSpace);
    }
}

/*MOBILE STYLING*/
@media (max-width: 402px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

    main {
        .intro {
            h1 {
                font-size: var(--mobileOverskriftSize);
            }
        }

        h2 {
            font-size: var(--mobileUnderoverskriftSize);
        }

        h3 {
            font-size: var(--mobileUnderoverskriftSize);
        }

        h4 {
            font-size: var(--mobileUnderoverskriftSize);
        }

        h5 {
            font-size: var(--mobileUnderoverskriftSize);
        }
    }


}