@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c 20%;
    --ligtherGrey33: #d9d9d9;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
}
main {
    padding: var(--space);
    color: var(--black);

    h1 {
        font-size: var(--desktopOverskriftSize);
    }
    p{
        font-size: var(--textSize);
        font: var(--tekstFont);
    }

    hr {
  border: none;
  height: 3px;
  width: 400px;
  background-color: var(--red);
  margin: 30px 0;
    }

}
 .event {
        gap: 2rem;
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: var(--ligtherGrey);

        img {
            grid-column: 2/2;
            width: 100%;
            height: 800px;
            object-fit: fill;
            display: block;
        }
    }


/*MOBILE STYLING*/
@media (max-width: px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }


}