@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;
    --sectionSpace: 2rem 0 2rem 0;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */

body {
    font-family: var(--tekstFont);
    padding-top: 168px;
    background-image: url(/assets/img/Baggrundsbillede_1920.webp);
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;
}


main {
    padding: var(--space);
}

body {

    p {
        font-size: var(--textSize);
    }

    h1 {
        font-size: var(--desktopOverskriftSize);
        padding-top: 2rem;
    }

    h2 {
        font-size: var(--desktopUnderoverskriftSize);
    }
}


.intro .copyrighthero {
    position: relative;
}

/* HERO image */
.intro .copyrighthero img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: -2rem -14rem 0 -14rem;
}

/* HERO copyright */
.intro .copyrighthero::after {
    content: "© Hjørring Jiu-Jitsu Klub";
    position: absolute;
    bottom: 10px;
    left: 12px;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.65);
    padding: 4px 8px;
    border-radius: 4px;
    pointer-events: none;
}

.introTekst {
    text-align: center;
    padding: var(--sectionSpace);

}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--sectionSpace);
    gap: 2rem;


    .card {
        background-color: var(--red);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    p {
        text-align: center;
        color: var(--white);
        font-weight: 500;
        background-color: var(--grey);
        padding: 1rem;
        margin: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    img {
        width: 150px;
        height: 150px;
        filter: brightness(0) saturate(100%) invert(100%);
        margin: 2rem;
    }
}
.cards .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: var(--sectionSpace);

}

.fed {
    grid-column: 2/-1;

    p {
        font-weight: 700;

    }
}


.klubben,
.events {
    padding: var(--sectionSpace);

    .klub {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-bottom: 2rem;

        img {
            grid-column: 1/2;
            width: 100%;
            height: 300px;
            object-fit: cover;
            display: block;
        }
    }

    .event {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-bottom: 2rem;

        img {
            grid-column: 2/-1;
            width: 100%;
            height: 500px;
            object-fit: cover;
            display: block;
        }
    }

    .button {
        background-color: var(--red);
        color: var(--white);
        height: 2rem;
        width: 10rem;
        border-radius: 5px;
        font-weight: 600;
        grid-column: 2/-1;
        margin-top: 2rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border: none;

    }
}

/* MEDIA QUARIES 1300 PX */

@media (max-width: 1300px) {

    .cards {
        img {
            width: 100px;
            height: 100px;
        }
    }
}

@media (max-width: 1050px) {
    main {
        padding: 2rem 10rem 2rem 10rem;

        .copyrighthero {
            display: none;
        }
    }

    .cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .fed {
        grid-column: 1/-1;
    }



}

@media (max-width: 700px) {

    :root {
        --mobileSpace: 2rem;
    }

    main {
        padding: var(--mobileSpace);

        .intro img {
            margin: 0 -2rem 0 -2rem;
        }
    }



    .cards {

        .card {

            img {
                width: 100px;
                height: 100px;
                margin: 1rem;
                align-self: center;
            }
        }


    }

    .info {
        display: none;

    }

    .klubben {

        .klub {
            grid-template-columns: 1fr;

            img {
                height: 200px;
            }
        }


    }

    .events {

        .event {
            display: block;

            img {
                padding: 0;
                width: 100%;
                height: 200px;
                object-fit: cover;
                display: block;
            }
        }


    }

    .events .event {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    /* Billedet øverst */
    .events .event .copyrightimg {
        order: -1;
    }

}



/*MOBILE STYLING 402 PX*/
@media (max-width: 402px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
        --mobileSpace: 2rem;

    }

    .intro img {
        height: 200px !important;

    }

    .info {
        display: none;
    }



    .klubben {

        .klub {
            grid-template-columns: 1fr;

            img {
                height: 200px;
            }
        }


    }

    .events {

        .event {
            display: block;

            img {
                height: 200px;
                padding: var(--sectionSpace);
            }
        }


    }

    /* CARDS */

    .cards {



        .card {

            img {
                width: 100px;
                height: 100px;
                margin: 1rem;
                align-self: center;
            }

            p {
                font-weight: 400;
            }
        }
    }
}