@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
}

.intro img {
    width: 100%;
    height: 350px !important;
    object-fit: cover;
    display: block;
}

.introTekst {
    text-align: center;
    padding: 4rem 10rem 2rem 10rem;

}

.cards {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10rem 2rem 10rem;

    div {
        background-color: var(--red);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    p {
        text-align: center;
        color: var(--white);
        font-weight: 500;
        background-color: var(--grey);
        padding: 1rem;
        margin: 0;

    }

    img {
        width: 150px;
        height: 150px;
        filter: brightness(0) saturate(100%) invert(100%);
        margin: 2rem;
    }
}


.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding: 2rem 10rem 2rem 10rem;

}

.fed p {
    font-weight: 700;
}



/*MOBILE STYLING*/
@media (max-width: px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;

    }

}