@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;
    --spaceHeaderFooter: 2rem 4rem 2rem 4rem;
    --sectionSpace: 2rem 0 2rem 0;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */

body {
    font-family: var(--tekstFont);
    padding-top: 168px;

    h1 {
        font-size: var(--desktopOverskriftSize);
    }

    h2 {
        font-size: var(--desktopUnderoverskriftSize);
    }

    .linje {
        width: 500px;
        border: 2px solid var(--red);
        margin: 0;
    }
}

main {


    section {

        article {

            h1 {
                font-size: var(--desktopOverskriftSize);
                color: var(--black);
            }
        }
    }


    .intro img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}


/* HEADER */
header {
    nav {

        background-color: var(--white);
        width: 100%;
        height: 168px;
        position: fixed;
        padding: var(--spaceHeaderFooter);
        top: 0;
        z-index: 1000;
        display: flex;
        justify-content: space-evenly;

        .fedOverskrift {
            font-weight: bolder;
        }

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            padding: 0;
        }

        ul li {
            list-style-type: none;
            display: flex;
            justify-content: space-between;

        }

        ul li a {
            color: var(--red);
            text-decoration: none;
            padding: 14px 20px;
            display: block;
            padding: 0;

        }

        img {
            height: 100px;
            padding: 0;

        }

        .figurLogo {
            padding-left: 2rem;
        }

        .logo {
            padding-right: 2rem;
        }

        .dropdownKnap {
            color: var(--red);
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdownIndhold {
            display: none;
            position: absolute;
            background-color: var(--white);
            min-width: 160px;
            z-index: 1;
        }

        .dropdownIndhold a {
            color: var(--red);
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }


        /* hovereffekter */

        .dropdownIndhold a:hover {
            font-weight: bolder;
        }


        .dropdown:hover .dropdownIndhold {
            display: block;
        }

        .dropdown:hover .dropdownKnap {
            font-weight: bolder;
        }

        .link:hover {
            font-weight: bolder;
        }
    }
}


/* FOOTER */
footer {
    background-color: var(--black);
    color: var(--white);
    padding: var(--spaceHeaderFooter);

    .fed {
        font-weight: bolder;
    }

    .first {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        a {
            color: var(--white);

        }

        img {
            height: 100px;
            border-radius: 50%;
            border-style: solid;
            border-color: var(--white);
            border-width: 10px;
        }

        .logo {
            align-self: center;
        }

        .socialeMedier {
            display: flex;
            justify-content: space-between;
            flex-direction: column-reverse;

            i {
                font-size: 3rem;
                padding: 1rem;
            }
        }
    }

    .second {
        display: flex;
        justify-content: center;
        padding: 1rem;

    }
}



/*MOBILE STYLING*/


@media (max-width: 402px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
        --mobileSpaceHeaderFooter: 1rem 2rem 1rem 2rem;
    }

    body {
        padding-top: 100px;

        h1 {
            font-size: var(--mobileOverskriftSize);
        }

        h2 {
            font-size: var(--mobileUnderoverskriftSize);
        }

        .linje {
            width: 300px;
            border: 2px solid var(--red);
            margin: 0;
        }
    }

    /* HEADER */

    header {

        .dropdownKnap,
        .link,
        .figurLogo {
            display: none;
        }


        nav {

            padding: var(--mobileSpaceHeaderFooter);
            height: 100px;

            img {
                height: 50px;
                width: auto;
            }

            ul {
                justify-content: flex-start;
            }
        }


    }


    /* FOOTER */
    footer {
        padding: var(--mobileSpaceHeaderFooter);

        .first {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            text-align: center;
        }

        .socialeMedier {
            display: flex;
            justify-content: center;
            gap: 2rem;
        }

        .copyright p {
            text-align: center;
        }
    }

}