@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;
    --sectionSpace: 2rem 0 2rem 0;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
    background-image: url(/assets/img/Baggrundsbillede_1920.webp);
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;
}

main {
    padding: var(--space);
    gap: 2rem;
}

.hold {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 2rem;
}

.tider {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;


}

.tider .mobile {
    display: none;
}




/* MEDIA QUARIES 1300 PX */
@media (max-width: 1050px) {
    main {
        padding: 2rem 10rem 2rem 10rem;
    }

    .hold {
        display: flex;
        flex-direction: column;
    }

    .tider .desktop {
        display: none;
    }

    .tider .mobile {
        display: block;
    }

}

/* MEDIA QUARIES 700 PX */
@media (max-width: 700px) {

    main {
        padding: 2rem 6rem 2rem 6rem;
    }
}

/* MEDIA QUARIES 500 PX */
@media (max-width: 500px) {
    :root {
        --mobileSpace: 2rem;
    }

    main {
        padding: var(--mobileSpace);
    }
}

/*MOBILE STYLING*/
@media (max-width: px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

}