@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
}

.graduering {
    display: flex;

}



.rutiner {
    display: flex;
    flex-direction: column;
    background-color: var(--lightGrey);

    h3,
    p,
    ul {
        color: var(--black);
        padding: 1rem 3rem 1rem 3rem;
    }

    img {
        width: 100%;

    }

}

.tek {
    display: flex;
    flex-direction: row;
    gap: 2rem;

}


/*MOBILE STYLING*/
@media (max-width: px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

}