@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;
    --sectionSpace: 2rem 0 2rem 0;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
    background-image: url(/assets/img/Baggrundsbillede_1920.webp);
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;
}

main {
    padding: var(--space);
}


.intro {
    padding-left: 6rem;
}

.Hvadjiujitsu {
    display: flex;
    margin-top: 4rem;
    gap: 2rem;

    img {
        width: 800px;
        height: 280px;
        padding-right: 10rem;
        margin-bottom: 2rem;
        margin-top: 5rem;
    }
}

.HV1 {
    padding-left: 6rem;
    line-height: 1.6;

    h2 {
        color: var(--red);
        font-size: var(--desktopUnderoverskriftSize);
    }
}

.HV2 {
    margin-top: 4rem;
    line-height: 1.6;

}



.beach {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--lightGrey);

    img {
        width: 400px;
        height: 500px;
        padding-left: 6rem;
        margin: 1rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
}

.beachtext {
    line-height: 1.6;
    padding-left: 2rem;
    padding-top: 3rem;

    h2 {
        color: var(--red);
        font-size: var(--desktopUnderoverskriftSize);
    }
}

.beachtext2 {
    margin-top: 6rem;
    line-height: 1.6;
    padding-right: 10rem;
    padding-top: 3rem;

}

.teknikker {
    display: flex;
    gap: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;

    img {
        width: 600px;
        height: 450px;
    }

    h2 {
        color: var(--red);
        font-size: var(--desktopOverskriftSize);
    }
}

.tek2 {
    display: flex;
    flex-direction: row;
}

.tek {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    img {
        width: 600px;
        height: 400px;
    }
}


.rutiner {
    display: flex;
    flex-direction: row;
    background-color: var(--lightGrey);
    padding-left: 6rem;
    padding-right: 10rem;
    gap: 2rem;

    img {
        max-width: 500px;
        height: 450px;
        margin-top: 150px;
    }

}

.rut {
    h3 {
        color: var(--red);
        font-size: var(--desktopUnderoverskriftSize);
    }
}


.graduering {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3rem;
    gap: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    line-height: 1.6;

    img {
        width: 400px;
    }

    h2 {
        color: var(--red);
        font-size: var(--desktopUnderoverskriftSize);
    }

}



/* MEDIA QUARIES 1300 PX */
@media (max-width: 1050px) {
    main {
        padding: 2rem 10rem 2rem 10rem;
    }
}

/* MEDIA QUARIES 700 PX */
@media (max-width: 700px) {

    main {
        padding: 2rem 6rem 2rem 6rem;
    }
}

/* MEDIA QUARIES 500 PX */
@media (max-width: 500px) {
    :root {
        --mobileSpace: 2rem;
    }

    main {
        padding: var(--mobileSpace);
    }
}


/*MOBILE STYLING*/
@media (max-width: 800px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

    main {

        img {
            max-width: 100%;
            height: auto;
        }

        .Hvadjiujitsu {
            flex-direction: column;
        }

        .beach {
            flex-direction: column;

        }

        .teknikker {
            flex-direction: column;
        }

        .tek2 {

            flex-direction: column
        }

        .tek {

            flex-direction: column
        }



        .rutiner {
            flex-direction: column;
        }

        .graduering {
            flex-direction: column;
        }
    }
}