@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;
    --sectionSpace: 2rem 0 2rem 0;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
    background-image: url(/assets/img/Baggrundsbillede_1920.webp);
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;
}

.intro {
    img {
        width: 100vw;
        height: auto;
        margin: 0 -14rem 0 -14rem;
    }
}

main {
    padding: var(--space);
}


.Hvadjiujitsu {
    display: flex;
    gap: 2rem;

}

.HV1 {
    line-height: 1.6;

    h2 {
        color: var(--red);
        font-size: var(--desktopUnderoverskriftSize);
    }
}

.HV2 {
    margin-top: 4rem;
    line-height: 1.6;

}


.beach {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: var(--lightGrey);


    img {
        width: 400px;
        height: 500px;


    }
}

.beachtext {
    line-height: 1.6;
    /* padding-left: 2rem;
    padding-top: 3rem; */
    padding: 2rem;

    h2 {
        color: var(--red);
        font-size: var(--desktopUnderoverskriftSize);
    }
}

.beachtext2 {
    margin-top: 6rem;
    line-height: 1.6;
    padding: 2rem;


}

.teknikker {
    display: flex;
    gap: 2rem;


    img {
        width: 600px;
        height: 450px;
    }

    h2 {
        color: var(--red);
        font-size: var(--desktopOverskriftSize);
    }

}

.tek2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.tek {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    ul {
        padding-bottom: 2rem;
    }

    img {
        width: 600px;
        height: 400px;

    }
}


.rutiner {
    display: flex;
    flex-direction: row;
    background-color: var(--lightGrey);
    gap: 2rem;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: flex;
        align-self: center;
        padding-left: 2rem;
    }
}

.rut {

    padding: 2rem;

    h3 {
        color: var(--red);
        font-size: var(--desktopUnderoverskriftSize);
    }
}


.graduering {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3rem;
    gap: 2rem;
    line-height: 1.6;

    img {
        width: 400px;
    }

    h2 {
        color: var(--red);
        font-size: var(--desktopUnderoverskriftSize);
    }

}



/* MEDIA QUARIES 1300 PX */
@media (max-width: 1050px) {
    main {
        padding: 2rem 10rem 2rem 10rem;
    }

    .intro {
        img {
            display: none;
        }
    }

    .Hvadjiujitsu,
    .beach,
    .teknikker,
    .tek2,
    .tek,
    .rutiner,
    .graduering {
        flex-direction: column;
    }

    .rutiner {
        img {

            padding-left: 0rem;
        }
    }

    .beach {
        img {
            width: 100%;
            object-fit: cover;
            padding-right: 0rem;
        }
    }

    .Hvadjiujitsu {

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

    }

    .beachtext2 {
        margin-top: 0;
    }

    .kamp {
        display: none;
    }

    .graduering {
        img {
            width: 100%;
            object-fit: cover;
            padding-right: 0rem;
        }
    }
}

/* MEDIA QUARIES 700 PX */
@media (max-width: 700px) {

    :root {
        --mobileSpace: 2rem;
    }

    main {
        padding: var(--mobileSpace);
    }

}




/*MOBILE STYLING*/
@media (max-width: 800px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

    main {

        img {
            max-width: 100%;
            height: auto;
        }

    }
}/*MOBILE STYLING*/
@media (max-width: 1050px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

    .intro .copyrightimg {
        display: none;
    }
}