@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;
    --sectionSpace: 2rem 0 2rem 0;

    /* COLOURS */

    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat',
        arial,
        sans-serif;
}

/* BODY */
body {
    font-family: var(--tekstFont);
    background-image: url(/assets/img/Baggrundsbillede_1920.webp);
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;
}

main {
    padding: var(--space);
}



.timeline {
    display: grid;
    grid-template-columns: 1fr 4px 1fr;
    grid-auto-flow: row;
    row-gap: 60px;
    max-width: 1200px;
    margin: 2rem auto;
    position: relative;
}

.timeline-item.left {
    grid-column: 1;
    justify-self: end;
}

.timeline-item.right {
    grid-column: 3;
    justify-self: start;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background: #333;
    transform: translateX(-50%);
}

.timeline-item {
    display: contents;
}

.timeline-item.left .timeline-content {
    grid-column: 1 / -1;
    justify-self: start;
}

.timeline-item.right .timeline-content {
    grid-column: 1 / -1;
    justify-self: end;
}

.timeline-content {
    background: #e0e0e0;
    padding: 20px;
    border-radius: 6px;
    display: flex;
    gap: 1rem;
    max-width: 500px;
    position: relative;
}


.timeline-content img {
    max-width: 160px;
    height: auto;
    object-fit: cover;
}

.timeline-content::after {
    content: "";
    position: absolute;
    top: 28px;
    width: 100px;
    height: 2px;
    background: #333;
}

.timeline-item.left .timeline-content::after {
    right: -100px;
}

.timeline-item.right .timeline-content::after {
    left: -100px;
}


/* MEDIA QUARIES 1300 PX */
@media (max-width: 1050px) {
    main {
        padding: 2rem 10rem 2rem 10rem;
    }
}

/* MEDIA QUARIES 700 PX */
@media (max-width: 700px) {

    main {
        padding: 2rem 6rem 2rem 6rem;
    }
}

/* MEDIA QUARIES 500 PX */
@media (max-width: 500px) {
    :root {
        --mobileSpace: 2rem;
    }

    main {
        padding: var(--mobileSpace);
    }
}



/*MOBILE STYLING*/
@media (max-width: 800px) {
    .header {
        grid-area: 1 / span 6;
    }

    .footer {
        grid-area: 3 / span 6;
    }

    .timeline-content::after {
        display: none;

    }
}

/* SIZES */
:root {

    --mobileOverskriftSize: 32px;
    --mobileUnderoverskriftSize: 20px;
}