@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;
    --sectionSpace: 2rem 0 2rem 0;


    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
    background-image: url(/assets/img/Baggrundsbillede_1920.webp);
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;
}

main {
    padding: var(--space);

    .firstSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-top: 2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .stortBillede {
            width: 100%;
            height: 600px;
            object-fit: cover;
            grid-column: 1/-1;
        }
    }
    

    .intro {

        img {
            margin: 0 -15rem;
  width: 100vw;
  height: auto;
  display: block;
        }
    }
    /* === Nederste store billede === */
.stortbillede{
  position: relative;
  grid-column: 1 / -1;   /* fuld bredde i grid */
}

/* Selve billedet */
.stortbillede img{
  width: 100%;
  height: 600px;         /* justér hvis nødvendigt */
  object-fit: cover;
  display: block;
}

/* Copyright overlay */
.stortbillede::after{
  content: "© Hjørring Jiu-Jitsu Klub";
  position: absolute;
  bottom: 10px;
  left: 12px;
  font-size: 12px;
  color: #fff;
  background: rgba(0,0,0,0.65);
  padding: 4px 8px;
  border-radius: 4px;
  pointer-events: none;
}

}


/* MEDIA QUARIES 1050 PX */
@media (max-width: 1050px) {
    main {
        padding: 2rem 10rem 2rem 10rem;

        .firstSection {
            grid-template-columns: 1fr;
        }
    }

    .intro .copyrightimg {
        display: none;
    }


}



/* MEDIA QUARIES 700 PX */
@media (max-width: 700px) {

    :root {
        --mobileSpace: 2rem;
    }

    main {
        padding: var(--mobileSpace);
    }
    
}


/*MOBILE STYLING*/
@media (max-width: px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

}