@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;
    --sectionSpace: 2rem 0 2rem 0;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */

main {
    padding: var(--space);
    background-image: url(/assets/img/Baggrundsbillede_1920.webp);
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;
}


body {
    font-family: var(--tekstFont);
    color: var(--black);

    p {
        font-size: var(--textSize);
    }

    h1 {
        font-size: var(--desktopOverskriftSize);
    }

    h2 {
        font-size: var(--desktopUnderoverskriftSize);
    }
}



.box {
    background-color: var(--lightGrey);
    padding: 2rem;
    border-radius: 20px;
}



.indhold {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: var(--sectionSpace);
}



/* MEDIA QUARIES 1300 PX */
@media (max-width: 1050px) {
    main {
        padding: 2rem 10rem 2rem 10rem;
    }


    .indhold {
        grid-template-columns: 1fr;
    }
}

/* MEDIA QUARIES 700 PX */
@media (max-width: 700px) {

    :root {
        --mobileSpace: 2rem;
    }

    main {
        padding: var(--mobileSpace);
    }
}




/*MOBILE STYLING*/
@media (max-width: 402px) {

    /* SIZES */
    :root {

        --mobileSpace: 2rem;
    }


    main {
        padding: var(--mobileSpace);
    }

}