@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
}

main section article img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

main section article h1 {
    font-size: var(--desktopOverskriftSize);
    color: var(--black);
}

.linje {
    width: 50px;
    border: 2px solid var(--red);
    margin-top: 10px;
    margin-bottom: 20px;
}

/*MOBILE STYLING*/
@media (max-width: px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

}