@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*DESKTOP STYLING*/

:root {
    /* SIZES */
    --textSize: 16px;
    --desktopOverskriftSize: 40px;
    --desktopUnderoverskriftSize: 24px;
    --space: 2rem 14rem 2rem 14rem;
    --sectionSpace: 2rem 0 2rem 0;



    /* COLOURS */
    --black: #1F1B1C;
    --red: #ee202d;
    --white: #ffffff;
    --grey: #3c3c3c;
    --lightGrey: #3c3c3c33;


    /* TYPOGRAPHY */
    --tekstFont: 'Montserrat', arial, sans-serif;
}


/* BODY */
body {
    font-family: var(--tekstFont);
    background-image: url(/assets/img/Baggrundsbillede_1920.webp);
    background-color: rgba(255, 255, 255, 0.95);
    background-blend-mode: lighten;
}

.traening-hero {
    max-width: 100%;
}

.intro {
    padding-left: 14rem;

    h1 {
        font-size: var(--desktopOverskriftSize);
    }
}

.HDtraening {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: var(--space);
}

.HVtraening {
    display: flex;
    flex-direction: column;


    h3 {
        font-size: var(--desktopUnderoverskriftSize);
        color: var(--red);
        margin-bottom: 0%;
    }

    p {
        color: var(--black);
        line-height: 1.6;
        margin-top: 0%;
        height: 200px;
    }

    video {
        width: 100%;
        height: 340px;

    }
}

.udstyr {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--lightGrey);
    padding-bottom: 2rem;
    margin-bottom: 2rem;




    h3 {
        font-size: var(--desktopUnderoverskriftSize);
        color: var(--red);
        padding-left: 14rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
        margin-bottom: 0%;
        margin-top: 0%;
    }

}

.udstyrrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;



    p {
        color: var(--black);
        padding-right: 14rem;
        line-height: 1.6;
        margin-top: 0%;
    }

    img {
        max-width: 100%;
        padding-left: 14rem;

    }

}

/*MOBILE STYLING*/
@media (max-width: px) {

    /* SIZES */
    :root {

        --mobileOverskriftSize: 32px;
        --mobileUnderoverskriftSize: 20px;
    }

}